.invoice--section {
  margin: 30px 0px;
}

.invoice--wrapper {
  background-color: white;
  border-radius: 15px;
  padding: 15px 40px;
  max-width: 1100px;
  margin: auto;
  margin-top: 85px;
}

/* top */

.invoice--top .invoice--logo {
  width: auto;
  height: 72px;
  object-fit: contain;
}

.invoice--main-title {
  font-size: 48px;
}

.invoice--hr {
  display: block;
  width: 100%;
  height: 18px;
  background-color: #f5f5f5;
  border-radius: 40px;
}

@media (max-width: 575px) {
  .invoice--hr {
    height: 5px;
  }
}
/* middle */

.invoice--mid-box-subtitle {
  letter-spacing: 0.6px;
  margin-top: 0px;
  font-size: 28px;
}

.invoice--dot-after:after {
  content: ":";
  margin-left: 1px;
  font-size: 15px;
}

.invoice--mid-box p {
  font-weight: 500;
  margin-bottom: 2px;
  font-size: 17px;
  margin-top: 0px;
}

/* bottom */

.invoice--terms {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 20px 20px;
}

.invoice--subtitle {
  margin-top: 0px;
  letter-spacing: 0.5px;
}

.invoice--terms-point {
  margin-bottom: 15px;
}

.invoice--terms-point svg {
  width: 20px;
  height: 20px;
  padding: 5px;
  margin-top: 3px;
}

.invoice--terms-point span {
  font-size: 16px;
}

/* table */

.invoice--table {
  border: 1px solid #dee2e6;
  border-bottom: none;
  border-radius: 5px;
}

.invoice--table thead th {
  text-transform: uppercase;
  font-weight: 600 !important;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 11px;
}

@media (max-width: 575px) {
  .invoice--table thead th {
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 5px;
  }

  .invoice--mid-box {
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 15px;
    padding-bottom: 12px;
  }
}

.invoice--table tbody td {
  padding-top: 18px;
  padding-bottom: 10px;
}

.invoice--table tbody td {
  font-size: 15px;
}

@media (max-width: 575px) {
  .invoice--table tbody td {
    padding-top: 11px;
    padding-bottom: 7px;
  }

  .invoice--table tbody td {
    font-size: 12px;
  }
}

.invoice--capture-button {
  position: absolute;
  top: 0px;
  left: -8px;
  border-radius: 6px;
}
