/* navbar */
.menu-full-overlay::before {
    background: var(--navbarBackgroundColor) !important;
}

/* preloader */
.preloader::before {
    background: var(--bodyBackgroundColor) !important;
}

.plan--sixth-title {
    color: var(--textColor) !important;
}

.menu-full-overlay::before {
    background: var(--navbarBackgroundColor);
}

.section.half-slider .swiper-pagination .swiper-pagination-bullet {
    background: var(--textColor);
}
