@media (max-width: 575px) {
    .fs-sm-9 {
        font-size: 9px !important;
    }
}

@media (max-width: 575px) {
    .fs-sm-10 {
        font-size: 10px !important;
    }
}

@media (max-width: 575px) {
    .fs-sm-11 {
        font-size: 11px !important;
    }
}

@media (max-width: 575px) {
    .fs-sm-12 {
        font-size: 12px !important;
    }
}

@media (max-width: 575px) {
    .fs-sm-13 {
        font-size: 13px !important;
    }
}

@media (max-width: 575px) {
    .fs-sm-14 {
        font-size: 14px !important;
    }
}

@media (max-width: 575px) {
    .fs-sm-15 {
        font-size: 15px !important;
    }
}

@media (max-width: 575px) {
    .fs-sm-16 {
        font-size: 16px !important;
    }
}

@media (max-width: 575px) {
    .fs-sm-17 {
        font-size: 17px !important;
    }
}

@media (max-width: 575px) {
    .fs-sm-19 {
        font-size: 19px !important;
    }
}

@media (max-width: 575px) {
    .fs-sm-18 {
        font-size: 18px !important;
    }
}

@media (max-width: 575px) {
    .fs-sm-20 {
        font-size: 20px !important;
    }
}

@media (max-width: 575px) {
    .fs-sm-21 {
        font-size: 21px !important;
    }
}

@media (max-width: 575px) {
    .fs-sm-22 {
        font-size: 22px !important;
    }
}

@media (max-width: 575px) {
    .fs-sm-27 {
        font-size: 27px !important;
    }
}

@media (max-width: 575px) {
    .fs-sm-28 {
        font-size: 28px !important;
    }
}

/* md */

@media (min-width: 576px) and (max-width: 767px) {
    .fs-md-13 {
        font-size: 13px !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .fs-md-14 {
        font-size: 14px !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .fs-md-15 {
        font-size: 15px !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .fs-md-16 {
        font-size: 16px !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .fs-md-17 {
        font-size: 17px !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .fs-md-18 {
        font-size: 18px !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .fs-md-20 {
        font-size: 20px !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .fs-md-21 {
        font-size: 21px !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .fs-md-22 {
        font-size: 22px !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .fs-md-23 {
        font-size: 23px !important;
    }
}

/* large */

@media (min-width: 1200px) {
    .fs-xl-45 {
        font-size: 45px !important;
    }
}

/* max width */

.mw--200 {
    max-width: 200px;
}

/* sm */

@media (max-width: 575px) {
    .mw--sm-130 {
        max-width: 130px;
    }
}

@media (max-width: 575px) {
    .mw--sm-120 {
        max-width: 120px;
    }
}

@media (max-width: 575px) {
    .mw--sm-110 {
        max-width: 110px;
    }
}
