/* Variables */
.stripe--form {
    width: 100%;
    min-width: 100%;
    align-self: center;
    border-radius: 0px;
    margin-top: auto;
    margin-bottom: auto;
}

.stripe--form .Label {
    font-size: 13px !important;
}

.stripe--form .Input {
    font-size: 13px !important;
}

.hidden {
    display: none;
}

.stripe--form input {
    font-size: 13px !important;
    letter-spacing: 0.3px;
}

#payment-message {
    color: rgb(105, 115, 134);
    font-size: 16px;
    line-height: 20px;
    padding-top: 12px;
    text-align: center;
}

#payment-element {
    margin-bottom: 24px;
}

/* Buttons and links */
button {
    color: #ffffff;
    border-radius: 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
}
button:hover {
    filter: contrast(115%);
}
button:disabled {
    opacity: 0.5;
    cursor: default;
}

/* dynamic payment methods annotation */
#dpm-annotation {
    align-self: center;
    color: #353a44;
    width: 30vw;
    min-width: 500px;
    line-height: 20px;
    margin-bottom: 20px;
}

#dpm-integration-checker {
    display: inline;
    color: #533afd;
}

/* Payment status page */
#payment-status {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    width: 30vw;
    min-width: 500px;
    min-height: 380px;
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
        0px 2px 5px 0px rgba(50, 50, 93, 0.1),
        0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 40px;
    opacity: 0;
    animation: fadeInAnimation 1s ease forwards;
}

#status-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    display: block;
}
a:hover {
    filter: contrast(120%);
}

#view-details {
    color: #0055de;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes fadeInAnimation {
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .stripe--form,
    #dpm-annotation,
    #payment-status {
        width: 100%;
    }
}
.btn--blob__inner.for-stripe {
    background-color: #202020;
}

.btn--blob.for-stripe {
    color: white !important;
    min-width: 150px !important;
    width: 150px !important;
}

/* .login--wrapper.for-stripe {
    padding: 35px 30px 30px;
} */

.payment--wrapper small.cash {
    font-weight: 600 !important;
    font-size: 17px !important;
}

.demo--payments {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}

.demo--payments img {
    height: 42px;
    border-right: 2px solid #000;
    object-fit: contain;
    background-color: white;
    width: 130px;
}

.demo--payments img:last-of-type {
    border-right: 1px solid transparent;
}

.left--section {
    border-top: 2px solid var(--sectionMidAlternativeBackgroundColor);
    border-radius: 25px;
    background-color: var(--sectionMidAlternativeBackgroundColor);
    padding-top: 25px;
    padding-bottom: 35px;
    border-bottom: 2px solid var(--sectionMidAlternativeBackgroundColor);
}

.login--wrapper {
    padding: 15px 0px 0px;
}
